<!DOCTYPE html>
<html>
  <head>
    <script src="face-api.js"></script>
    <script src="js/commons.js"></script>
    <script src="js/drawing.js"></script>
    <script src="js/faceDetectionControls.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="bj.css">
  </head>
  <body>
    <div id="webcam_display">
      <video onplay="onPlay(this)" id="inputVideo" autoplay muted></video>
      <canvas id="overlay"></canvas>
      <img id="avatar">
    </div>

    <script src="js/bj.js"></script>
  </body>
</html>